/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
    background-color: yellow;
}
/* Animated Button */
.text-box{
  text-align: center;
  top: 80px;
  position: relative;

}
.btn:link,
.btn:visited{
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn-white{
  background-color: #fff;
  color: #777;
}
.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.btn:active{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0,.2);
}

.btn::after{
     content: "";
     display: inline-block;
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     left:0;
     z-index: -1;
     border-radius: 100px;
     transition: all .9s;
}
.btn-white::after{
  background-color: #fff;
}
.btn:hover::after{
  transform: scaleY(1.4) scaleX(1.6);
  opacity: 0;
}
